
body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    min-width: 320;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
}
div{
    background-color: hsl(216, 50%, 16%);
    width: 20vw;
    height: 60vh;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    box-shadow: 20px 50px hsl(217, 64%, 6%);
}
h1, h2, h3, h4, p{
    margin-top: 10px;
    margin-bottom: 10px;
}
hr{
    
    border-color: hsl(215, 32%, 27%);
}
h1 {
     color: hsl(0, 0%, 100%);
     font-weight: 600;  
}
p{
     color: hsl(215, 51%, 70%);
 
}
h2{
    color:  hsl(178, 100%, 50%);
    font-weight: 400;
    font-size: 18px;
   
}
h4{
    font-weight: 400;
    color: white;
}
.thumbnail{
    margin: 0 auto;
    width: 10vw;
}


.avatar{
    width: 80%;
    border-radius: 15px;
}