

body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    min-width: 320;
}
div{
    background-color: hsl(216, 50%, 16%);
    width: 80vw;
}
hr{
    color: hsl(215, 32%, 27%);
}
h1 {
     color: hsl(0, 0%, 100%);
     font-weight: 600;
}
h3, p{
     color: hsl(215, 51%, 70%);
     
}
h2{
    color:  hsl(178, 100%, 50%);
    font-weight: 600;
}
h4{
    font-weight: 400;
    color: white;
}
.thumbnail{
    margin: auto;
    

}