
body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    min-width: 320;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
}
.container{
    background-color: hsl(216, 50%, 16%);
    width: 20vw;
    height: 60vh;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    box-shadow: 20px 40px 10px hsl(217, 64%, 6%);
}
.middle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}
h1, h2, h3, h4, p{
    margin-top: 10px;
    margin-bottom: 10px;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: hsl(215, 32%, 27%);
}
h1 {
     color: hsl(0, 0%, 100%);
     font-weight: 600;
     font-size: 18px; 
}
p{
     color: hsl(215, 51%, 70%);
     margin-top: 5px;
     margin-bottom: 5px;
 
}
h2{
    color:  hsl(178, 100%, 50%);
    font-weight: 400;
    font-size: 18px;
   
}
h4{
    font-weight: 400;
    color: white;
}
h4:hover, h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}


.thumbnail{
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
}
.ImgContainer .hidden{
    opacity :0;
    background-color: hsl(178, 100%, 50%);
    
    height: 100%;
    width:100%;
}
.view{
   position: absolute;
}

.ImgContainer:hover .hidden{
 opacity: .5;
}

.ImgContainer{
    background-color: red;
}

.inline{
    display: inline;
    vertical-align: middle;
}
.icon{
    margin-right: 4px;
    align-self: center;
    vertical-align: middle;
}
.avatar{
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 10px;
    vertical-align: middle;
}
